# Categorizing kindle Book review as per rating

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("all_kindle_review .csv")

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [4]:
df['rating'].value_counts()

5    3000
4    3000
3    2000
2    2000
1    2000
Name: rating, dtype: int64

In [5]:
df['summary'].value_counts()

Good                                                  41
Disappointed                                          36
Good read                                             33
Boring                                                29
Interesting                                           26
                                                      ..
Didn't enjoy this book very much                       1
YIKES!---                                              1
Branded by Gold (Men in Love, Book One)                1
A MYSTERIOUS ISLAND IS THE FOCUS                       1
An iconic paper, well done on Kindle, worth a try.     1
Name: summary, Length: 10127, dtype: int64

In [6]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'asin', 'reviewerID', 'reviewTime','helpful', 'reviewerName', 'summary', 'unixReviewTime'], axis = 1)

In [7]:
df.head()

   rating                                         reviewText
0       3  Jace Rankin may be short, but he's nothing to ...
1       5  Great short read.  I didn't want to put it dow...
2       3  I'll start by saying this is the first of four...
3       3  Aggie is Angela Lansbury who carries pocketboo...
4       4  I did not expect this type of book to be in li...

In [8]:
df['rating'] = df['rating'].replace('No rating', 1)

In [9]:
df['rating'].value_counts()

5    3000
4    3000
3    2000
2    2000
1    2000
Name: rating, dtype: int64

In [10]:
def mark_sentiment(Rating):
    if(int(Rating)<5):
        return 0
    else:
        return 1

In [11]:
df['rating']=df['rating'].apply(mark_sentiment)

In [12]:
df.head()

   rating                                         reviewText
0       0  Jace Rankin may be short, but he's nothing to ...
1       1  Great short read.  I didn't want to put it dow...
2       0  I'll start by saying this is the first of four...
3       0  Aggie is Angela Lansbury who carries pocketboo...
4       0  I did not expect this type of book to be in li...

In [13]:
df['rating'].value_counts()

0    9000
1    3000
Name: rating, dtype: int64

In [14]:
from sklearn.utils import shuffle
df = shuffle(df)

In [15]:
df.head()

       rating                                         reviewText
342         0  Although the kids sat still for this, I would ...
10924       0  Rating:  4.5 starsThis book was a dark read an...
7954        0  Embrace the Wind is part of the Reaper Western...
9726        0  To rushed. The story skips ahead to fast. Thin...
3101        1  I loved this book. Miranda is wonderful. An in...

# Remove Stopwords

In [16]:
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ABC\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
df["reviewText"] = df["reviewText"].apply(lambda x: x.lower()) #changing the data to lowercase
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub('[,\.!?:()"]', '', x)) #removing special characters
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub('[^a-zA-Z"]', ' ', x))#removing any characters that is not letter
df['reviewText'] = df['reviewText'].apply(lambda x: x.strip()) #removing space

In [19]:
df.head()

       rating                                         reviewText
342         0  although the kids sat still for this i would h...
10924       0  rating     starsthis book was a dark read and ...
7954        0  embrace the wind is part of the reaper western...
9726        0  to rushed the story skips ahead to fast things...
3101        1  i loved this book miranda is wonderful an inno...

In [20]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [21]:
def remove_stopwords(text):
    x = []
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    return ' '.join(x)

In [22]:
df['reviewText']=df['reviewText'].apply(remove_stopwords)

In [23]:
df.head()

       rating                                         reviewText
342         0  although kids sat still would liked illustrati...
10924       0  rating starsthis book dark read anything like ...
7954        0  embrace wind part reaper westernwind series de...
9726        0  rushed story skips ahead fast things explained...
3101        1  loved book miranda wonderful innocent girl unc...

# Performing Stemming

In [25]:
nltk.download('punkt')
from nltk.stem import PorterStemmer
porter_stemmer = PorterStemmer()
df["reviewText"] = df["reviewText"].apply(lambda x: " ".join([porter_stemmer.stem(word) for word in x.split()]))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ABC\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [26]:
df.head()

       rating                                         reviewText
342         0  although kid sat still would like illustr over...
10924       0  rate starsthi book dark read anyth like fsog m...
7954        0  embrac wind part reaper westernwind seri defin...
9726        0  rush stori skip ahead fast thing explain prope...
3101        1  love book miranda wonder innoc girl uncar fami...

In [27]:
df

       rating                                         reviewText
342         0  although kid sat still would like illustr over...
10924       0  rate starsthi book dark read anyth like fsog m...
7954        0  embrac wind part reaper westernwind seri defin...
9726        0  rush stori skip ahead fast thing explain prope...
3101        1  love book miranda wonder innoc girl uncar fami...
...       ...                                                ...
3583        0  colter wife confus read colter woman might exp...
10036       0  man one night everi twenti year find true love...
7783        0  cute stori colleg prof gradstud need money hel...
10139       0  damag good second book read review talent auth...
2179        0  dark elv seri fan felt like book went place tr...

[12000 rows x 2 columns]

In [28]:
from sklearn.model_selection import train_test_split
train_x, test_x, y_train,y_test=train_test_split(df["reviewText"],
                                                 df["rating"],
                                                 test_size=0.20,
                                                 random_state=42)

In [29]:
print("X_train shape",train_x.shape)
print("y_train shape",test_x.shape)
print("X_test shape",y_train.shape)
print("y_test shape",y_test.shape)

X_train shape (9600,)
y_train shape (2400,)
X_test shape (9600,)
y_test shape (2400,)

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
vectorizer=CountVectorizer()
X_train_vectorized=vectorizer.fit_transform(train_x)

In [32]:
X_test_vectorized=vectorizer.transform(test_x)

# Applying Multinomial Naive Bayes Classifieer

In [33]:
from sklearn.naive_bayes import MultinomialNB

In [34]:
naive_bayes_classifier=MultinomialNB()
naive_bayes_classifier.fit(X_train_vectorized,y_train)

MultinomialNB()

In [35]:
Y_pred=naive_bayes_classifier.predict(X_test_vectorized)

# Evaluating Model accuracy and showing its Classification records

In [36]:
from sklearn.metrics import accuracy_score,classification_report

In [37]:
accuracy=accuracy_score(y_test,Y_pred)
print("Accuracy: ",accuracy)

Accuracy:  0.80125

In [38]:
print(classification_report(y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.81      0.95      0.88      1776
           1       0.73      0.37      0.49       624

    accuracy                           0.80      2400
   macro avg       0.77      0.66      0.68      2400
weighted avg       0.79      0.80      0.78      2400

# LogisticRegression

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
model=LogisticRegression()

In [41]:
model.fit(X_train_vectorized,y_train)

C:\Users\ABC\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [42]:
Y_pred=model.predict(X_test_vectorized)

In [43]:
accuracy=accuracy_score(y_test,Y_pred)
print("accuracy of logistic regression: ",accuracy)

accuracy of logistic regression:  0.80625